#resumeInformation h3 {
    padding-top: 20px;
    padding-bottom: 15px;
}

#resumeInformation p {
    font-family: 'Open Sans', arial, serif;
    line-height: 25px;
    margin-bottom: 5px;
}

#classes-link {
    color: #3d84ee;
}

#classes-link:hover {
    text-decoration: underline;
}

#resumeInformation li {
    list-style: none;
    font-family: 'Open Sans', arial, serif;
    margin-bottom: 2px;
}

.logo-image {
    float: left;
    width: 75px;
    height: 75px;
    padding-right: 20px;
}

.job {
    float: left;
    width: 905px;
}

.job-title, .school-title {
    float: left;
    padding-bottom: 5px;
}

.duration {
    float: right;
}

.too-high {
    padding-top: 10px;
}

.content-section {
    padding-bottom: 10px;
}

.content-section a {
    font-weight: 400;
    font-style: italic;
}

.no-italic p {
    font-style: normal;
}

#gpa_left {
    float: left;
}

#classes-link {
    float: right;
}

.no-link a {
    text-decoration: none;
}

.school-header {
    font-style: italic;
    text-decoration: underline;
}

.mainContent {
    padding-bottom: 50px;
}

.programming-languages {
    width: 100%;
    display: flex;             /* primary flex container */
    flex-direction: row;       /* horizontal alignment of flex items */
    align-items: stretch;      /* will apply equal heights to flex items*/
    height: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
}

.flex-item {
    flex: 1;
    padding: 15px;
    display: flex;             /* nested flex container */
    flex-direction: column;    /* vertical alignment of flex items */
    justify-content: flex-start;   /* center flex items vertically */
}

.content-title {
    font-style: italic;
    text-decoration: underline;
}

.flex-item ul {
    margin-top: 5px;
}

.content-section ul {
    margin-bottom: 10px;
}

/* MOBILE DESIGN */


/* ----------- Smartphone/Tablet ----------- */

@media only screen and (min-width: 320px) and (max-width: 1080px) {
    .job {
        width: auto;
    }

    .job-title, .school-title {
        float: none;
    }

    .content-section a {
        font-style: normal;
    }

    .content-section a:hover {
        text-decoration: none;
    }

    .no-italic p {
        font-style: italic;
    }

    .duration {
        float: none;
        font-style: italic;
    }

    #classes {
        float: none;
    }

    #classes-mobile-drop {
        clear:both;
    }

    .logo-image {
        display: none;
    }

    .line-break li {
        padding-bottom: 5px;
    }

    .no-italic p {
        font-style: normal;
    }
}

@media only screen and (min-width: 320px) and (max-width: 573px) {
    .programming-languages {
        display: block;
    }
}
