#projects a {
    color: #3d84ee;
}

.dev-samples {
    margin-top: 20px;
}

.dev-samples h2 {
    margin-bottom: 15px;
}

.dev-samples p {
    margin-bottom: 20px;
}

.dev-sample-area {
    margin-bottom: 40px;
}

.left {
    float: left;
    width: 500px;
    margin-bottom: 50px;
    margin-right: 25px;
}

.right {
    float: right;
    margin-bottom: 50px;
    margin-left: 25px;
    width: 500px;
}

.main-content h3 {
    padding-bottom: 5px;
}

#last {
    padding-bottom: 20px;
}

#more-info {
    text-align: center;
}

/* MOBILE DESIGN */

/* ----------- Tablet ----------- */

@media only screen and (min-width: 767px) and (max-width: 1040px) {
    .left {
        float: none;
        width: auto;
        margin-left: 25px;
        margin-right: 0px;
    }

    .right {
        float: none;
        width: auto;
        margin-left: 25px;
    }
}


/* ----------- Smartphone ----------- */

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .container {
        width: auto;
        height: auto;
        margin: 0 auto;
    }

    .left {
        float: none;
        width: auto;
        margin-right: 0px;
    }

    .right {
        float: none;
        width: auto;
        margin-left: 0px;
    }

    .name-area {
        margin-left: 0px;
    }

    .nav-area {
        margin-right: 0px;
    }

    #last {
        margin-top: 20px;
    }

}
